#workspace-nav{
    display: flex;
    background-color: white;
}

.link{
    margin-left: 15px;
}


@media only screen and (max-width: 780px){
    #workspace-nav{
        position: fixed;
        margin-top: 14%;
    }
}