#workspace-nav{
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 1px;
    
}

.workspace-nav-link{
    margin-left: 15px;
    color: blueviolet;
    padding: 3px;
}

.workspace-nav-link:hover{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
}


@media only screen and (max-width: 780px){
    #workspace-nav{
        position: fixed;
        margin-top: 14%;
    }
}