#messagesComp{
    display: grid;
    grid-template-rows: 460px 30px;
}

#allMessages{
    position: flex;
    overflow-y: auto;
}

#message{
    display: grid;
    grid-template-columns: 95% 30px;
}

#options{
    margin-top: 13px;
}

@media only screen and (max-width: 780px){
    #messagesComp{
        position: absolute;
        margin-top: 33%;
        width: 100%;
        grid-template-rows: 72% 5%;
        height: 100%;
    }
    
}
