#messagesComp{
    display: grid;
    grid-template-rows: 460px 30px;
}

#allMessages{
    position: flex;
    overflow-y: auto;

}

#message{
    display: grid;
    grid-template-columns: 95% 30px;
}

#message-content{
    margin-left: 15px;
}

#options{
    margin-top: 13px;
}

@media only screen and (max-width: 780px){
    #messagesComp{
        position: absolute;
        margin-top: 37%;
        width: 100%;
        grid-template-rows: 350px 5%;
        height: 63%;
    }
    #message{
        grid-template-columns: 90% 10%;
    }
    
}
