#channelsNav{
    overflow-x: scroll;
    position: flex;
    display: flex;
    flex-direction: row;
}

#channelsNav .iconify {
    width: 70px;
    height: 70px;
}

.channelLink{
    margin-left: 20px;
    display: grid;
    grid-column: auto auto;
}
