#channelsNav{
    overflow-x: scroll;
    position: flex;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 7px;
}

#channelsNav .iconify {
    color: #60bcbf;
    width: 70px;
    height: 70px;
}

.channelLink{
    margin-left: 20px;
    display: grid;
    grid-column: auto auto;
}

.channelLink:hover{
    text-decoration: none;
}

@media only screen and (max-width: 780px){
    #channelsNav{
        margin-top: 23%;
        position: fixed;
    }
    #channelsNav .iconify {
        width: 50px;
        height: 50px;
    }
}
