#servers{
    overflow-y: scroll;
    width: 9%;
    height: 100%;
    position: absolute;
}

.serverAsLeader{
    border: 2px solid violet;
    margin-top: 20px;
    border-radius: 50%;
    
}

#makeNewServer{
    color: thistle;
    margin-left: 30px;
}

.serversLeader{
    margin-top: 8px;
}

.serversLeader .iconify{
    color: darkturquoise;
    width: 40px;
    height: 40px;
    margin-left: 30px;
}



p{
    text-align: center;
}

.iconify{
    width: 40px;
    height: 40px;

}