#not-loged-nav {
    padding: 10px;
    display: flex;
    background-color: #d9d9d9;
    border-radius: 3px;
    border-bottom: #b5b3b3 solid 1px;
}

.notLogedNav-links{
    margin-left: 20px;
    color: blueviolet;
    padding: 10px;
    border-radius: 3px;
}

.notLogedNav-links:hover{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
}

#login{
    margin-left: 75%;
}